Checks: "*,-llvmlibc-*,-altera-*,-readability-math-missing-parentheses,-readability-identifier-length,-cppcoreguidelines-avoid-non-const-global-variables,-concurrency-mt-unsafe,-bugprone-easily-swappable-parameters,-fuchsia-default-arguments-calls,-*braces-around-statements,-modernize-*"