Checks: "*,-llvmlibc-*,-altera-*,-fuchsia-*,-readability-math-missing-parentheses,-readability-identifier-length,-cppcoreguidelines-avoid-non-const-global-variables,-concurrency-mt-unsafe,-bugprone-easily-swappable-parameters,-fuchsia-default-arguments-calls,-*braces-around-statements,-modernize-*,-misc-no-recursion,-android-cloexec-epoll-create,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-hicpp-vararg"
